/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

nav {
    margin-left: 20px; /* Add margin to the left of the entire nav element */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 20px; /* Adjust margin to add space between list items */
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-size: 1.2rem;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link {
    margin-left: 10px;
    color: black;
}

.schedule-button {
    padding: 10px 20px;
    background-color: #d642d2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.schedule-button:hover {
    background-color: #489fbc;
}

.content-section {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1200px;
    margin: 20px auto;
}

.left-content {
    flex: 1;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.left-content h2 {
    font-size: 2.5rem;
    color: rgb(116, 116, 196);
    margin-bottom: 10px;
    width: 100%;
}

.left-content p {
    font-size: 1rem;
    color: #333;
    width: 100%;
}

.right-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-content img {
    max-width: 100%;
    height: auto;
    max-height: 800px; /* Example maximum height, adjust as needed */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.action-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add space above the button */
    position: relative;
     z-index: 1; 
}

.action-button:hover {
    background-color: #2980b9;
}