

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link {
    margin-left: 10px;
}

.schedule-button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.schedule-button:hover {
    background-color: #27ae60;
}