/* styles.css */

body {
    font-family: Arial;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: #fff;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

nav {
    margin-left: 20px; /* Add margin to the left of the entire nav element */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px; /* Adjust margin to add space between list items */
}

nav ul li a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-size: 1.2rem;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link {
    margin-left: 10px;
    color: black;
}

.schedule-button {
    padding: 10px 20px;
    background-color: #d642d2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.schedule-button:hover {
    background-color: #489fbc;
}

.left-content {
    flex: 1;
    padding: 20px;
    text-align: left;
}


.left-content h2 {
    font-size: 2.5rem;
    color: blue;
    margin-bottom: 10px;
}

.left-content p {
    font-size: 1rem;
    color: #333; 
}

.right-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.right-content img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Example maximum height, adjust as needed */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}